extends layout

block content
  h1 
    center= title
  ul(class="messageContainer")
    each val in messages
     li(class="message")
       p=val.user
       h3=val.text 
       p=val.added  
  a(href="/new")
    button(class="blackBtn")= "New message"
